0-Investigate/OSINTIA/n8n/demo-data/workflows/Agente_Smith.json
{
  "name": "Agente Smith",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const data = $input.all();\nconst data_arr = Object.keys(data).map(key => {\n    return data[key]\n})\n\nreturn [{json:data_arr}]"
      },
      "name": "Unificamos datos1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        120,
        440
      ],
      "id": "654c8dfe-91ac-4844-8852-b7e43c27c8e7"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/maigret/bonber",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        440
      ],
      "id": "aec11cc1-d9cf-43b4-874e-1d424a36cec4",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Informe\": \"Datos del informe\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2880,
        480
      ],
      "id": "51b0a386-2e6f-444b-8f40-ad4322e6c9e1",
      "name": "Estructura salida"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rol\nEres un experto en extracción de información relevante. Extraeras las direcciones url de las diferentes perfiles de la persona .\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1840,
        220
      ],
      "id": "7c90577b-a3ae-44c3-a860-5c4b259a3b5b",
      "name": "Extraer links",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abe19604-a24f-4572-a2e4-4487183b043b",
              "name": "module",
              "value": "={{ $json.module }}",
              "type": "string"
            },
            {
              "id": "9fc2de67-9f6f-4c41-aa2e-a9ec325ef12e",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "object"
            },
            {
              "id": "54745bf8-8515-44fa-9332-fca3e371162f",
              "name": "front_schemas",
              "value": "={{ $json.front_schemas }}",
              "type": "array"
            },
            {
              "id": "858c6fd1-79f0-4d51-be82-e446c378ad5f",
              "name": "spec_format",
              "value": "={{ $json.spec_format }}",
              "type": "array"
            },
            {
              "id": "7f179678-79e5-4680-936a-dd60d44d1208",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        0
      ],
      "id": "c1c0e580-9107-4da0-a846-47620741450e",
      "name": "Limpia"
    },
    {
      "parameters": {
        "functionCode": "const data = $input.all();\nconst data_arr = Object.keys(data).map(key => {\n    return data[key]\n})\n\nreturn [{json:data_arr}]"
      },
      "name": "Unificamos datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        0
      ],
      "id": "0c038696-daf1-4f35-a195-6e959efd99b5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"rapid-api\":\"\",\n  \"osint_industries\": \"96d0b0a78c9ad5f88b688ee4cd6e68d4\",\n  \"minimax_audio\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiI1RGV2IiwiVXNlck5hbWUiOiI1RGV2IiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE5MDI3MDc1OTE4NTU3NDMwODYiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxOTAyNzA3NTkxODUxNTQ4NzgyIiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoiaGRlcm9oZGVAZ21haWwuY29tIiwiQ3JlYXRlVGltZSI6IjIwMjUtMDUtMDEgMjI6MDE6MjciLCJUb2tlblR5cGUiOjEsImlzcyI6Im1pbmltYXgifQ.fcsRNs8xhh1o9jncPscDM1vGsiEYkx86EAzU1xPh6SUGsk1tULfn-hX32tVfB1ZQlU_mfUYQpXBzjTt2EsQM_uUOnkkQHjoia5AfZXpA_mOHgmMYrVUV2iIihs3bv8Ir8ank5_viKT9i82gHMbooNrlSL5MOqGotYXQBR-_HxOrotSzZ_Syy5sYmKRr7oXJdQEFcRulewxHt3pR4pA3KnNSS-B4TRb_kWEyTiPQ8u4-rlV5dU_kkVyV_3hm00i318rYcXYOe8EXS2v_dS0qomnZTnxKV1OiMfQV82Zbh7zC0Gkudw-3ewSavLsQfOmYUo7WQi3HU_7AkzxkOuQ6OsA\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        200
      ],
      "id": "6105bac0-eb42-4c4e-9b7c-0f0f1424a671",
      "name": "Datos API"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1820,
        440
      ],
      "id": "3b4ae02c-ff38-46c6-a412-86674b24c8bc",
      "name": "Gemini",
      "credentials": {
        "openRouterApi": {
          "id": "dYxSa2wl6iN2uX9L",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"urls\": [\"https://www.instagram.com/5dev/\", \"https://github.com/bonber\"],\n  \"tel\": \"+34678756534\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2040,
        440
      ],
      "id": "38847c8b-3d39-4eff-a908-cb62b1f4ff49",
      "name": "Salida",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2240,
        440
      ],
      "id": "a6f4e18a-ed8e-47ce-88bb-7063b39c922d",
      "name": "Gemini1",
      "credentials": {
        "openRouterApi": {
          "id": "dYxSa2wl6iN2uX9L",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"informe\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2420,
        440
      ],
      "id": "36b79a43-45a4-4164-ab0b-09f7384b0539",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Este es el informe de obtención es:\n{{ $json.output.informe }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=##  Descripción General\n\nActúa como **analista de inteligencia OSINT** especializado en elaborar **perfiles detallados de personas en España**. Utiliza como punto de partida un informe inicial que puede contener datos como nombre, ubicación o redes sociales, y lo amplía mediante investigación en línea contrastada y legal. El dia de hoy es {{ $now }}\n\n##  Objetivo\n\nEl objetivo principal es **generar un informe exhaustivo y verificado** sobre la identidad, actividades, conexiones, presencia digital y cualquier otra información relevante o pública de una persona localizada en España.\n\n##  Entradas Esperadas\n\n- Nombre completo o parcial de la persona\n- Alias o nombres de usuario en redes\n- Localización (ciudad, región)\n- Enlaces a perfiles en redes sociales o referencias\n- Datos contextuales relevantes (ocupación, entorno, etc.)\n\n##  Acciones \n\n1. **Interpretar el informe inicial** y extraer entidades clave\n2. **Buscar información adicional online**, incluyendo:\n   - Perfiles en redes sociales (X, Facebook, Instagram, LinkedIn, etc.)\n   - Artículos de prensa, blogs o foros\n   - Registros públicos (dentro del marco legal)\n   - Bases de datos abiertas y menciones cruzadas\n3. **Verificar coincidencias** en base a localización, fotografías, nombres, vínculos o patrones de actividad\n4. **Detectar y contrastar contradicciones** entre fuentes\n5. **Identificar datos sensibles públicos**, siempre respetando las normas legales y éticas\n6. **Si n tienes la información puedes investigar**, siempre que los datos estén publicos\n\n##  Formato del Informe Final (Markdown)\n\nDebes generar un documento en formato markdown con la siguiente estructura:\n\n```markdown\n# Informe OSINT - [Nombre de la Persona]\n\n## 1. Identificación Inicial\n- Nombre completo:\n- Alias conocidos:\n- Localización:\n- Redes sociales detectadas:\n\n## 2. Análisis de Presencia Digital\n### 2.1 Redes Sociales\n- Perfil en X: [...]\n- Perfil en Facebook: [...]\n- Perfil en Instagram: [...]\n- Perfil en LinkedIn: [...]\n\n### 2.2 Actividad y Temas Recurrentes\n- Tópicos frecuentes:\n- Patrones de actividad:\n- Idiomas usados:\n\n## 3. Entorno y Conexiones\n- Vínculos familiares o personales públicos:\n- Interacciones destacadas:\n\n## 4. Historial Público o Menciones\n- Noticias, publicaciones o blogs:\n- Comentarios en foros:\n- Participación en eventos o instituciones:\n\n## 5. Verificación de Datos\n- Contradicciones detectadas:\n- Coincidencias verificadas:\n- Nivel de fiabilidad por fuente:\n\n## 6. Conclusión General\n- Resumen del perfil:\n- Riesgos o aspectos destacados:\n- Recomendaciones para seguimiento (si aplica):\n```\n\n## 🛠 Herramientas Habilitadas\n\n- **Acceso a la web en tiempo real** (busqueda de datos actualizados y contraste de información)\n- Capacidad para generar texto, analizar patrones, y correlacionar datos con contexto geográfico-cultural de España\n\n##  Consideraciones Éticas y Legales\n\n- Solo usar información **pública y legalmente accesible**\n- No emitir juicios personales ni incluir datos privados no verificados\n- Marcar como *posiblemente especulativo* cualquier dato no plenamente confirmado\n\n##  Métricas de Calidad y Evaluación\n\n- Relevancia y verificabilidad de la información incluida\n- Profundidad del análisis por sección\n- Estructura clara y uso correcto del formato Markdown\n\n##  Prompts Recomendados para Uso\n\n```text\n\"Analiza este informe OSINT preliminar y genera un informe extendido con fuentes cruzadas centrado en España.\"\n\"Amplía la siguiente información sobre esta persona utilizando fuentes públicas online: [informe]\"\n\"Genera un perfil completo y verificado sobre [nombre], residente en [localización], con base en los datos proporcionados y la investigación en línea.\"\n```\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2680,
        220
      ],
      "id": "b531125f-f17e-4145-98e2-73c6df8d9037",
      "name": "Agente Smith Analista",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Las direcciones son: {{ $json.output.urls }}\n\nY el resto de datos son:\n{{ JSON.stringify($('Merge').item.json.datos) }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=CONTEXTO:\nActúa como un analista OSINT profesional con experiencia en la recolección y análisis de huellas digitales en redes sociales. Tu rol es investigar personas con perfiles públicos en cualquier red social (Facebook, Instagram, TikTok, LinkedIn, X/Twitter, YouTube, etc.) para generar informes detallados con fines investigativos. El enfoque debe ser riguroso, ético y orientado a datos públicamente disponibles, teniendo en cuenta la legislación vigente en España sobre privacidad y protección de datos. Lafecha de hoy es {{ $now }}\n\nTAREA:\nTu tarea es extraer y consolidar toda la información relevante disponible públicamente de los perfiles indicados, construyendo una huella digital detallada de la persona. Esto incluye biografía, fotos, metadatos, intereses, amistades o contactos visibles, patrones de actividad, vínculos con otras plataformas, ubicación geográfica deducida, historial de publicaciones y cualquier otra información pertinente para elaborar un perfil completo.\n\nINSTRUCCIÓN:\nDebes presentar el análisis OSINT en un formato narrativo detallado, dividido en secciones claras:\n\nIdentificación del perfil: nombre(s), alias, usuario, ID o enlaces asociados.\n\nBiografía y datos personales inferidos: edad estimada, género, idioma, localización probable, ocupación, afiliaciones públicas.\n\nPresencia digital multicanal: otras redes vinculadas o detectadas por similitud de alias o metadatos.\n\nAnálisis de contenido publicado: tipo de publicaciones, frecuencia, temas recurrentes, comportamiento online.\n\nMetadatos técnicos visibles: información extraíble de imágenes, URLs, fechas, apps utilizadas (cuando sea posible).\n\nRed de contactos visibles: personas etiquetadas frecuentemente, seguidores o conexiones destacadas.\n\nConclusión investigativa: resumen de hallazgos clave y recomendaciones para profundización si procede.\n\nTodo el contenido debe basarse únicamente en fuentes abiertas (OSINT) y accesibles públicamente. El análisis debe ser técnico y fundamentado, con lenguaje profesional y preciso, manteniendo un tono neutro y objetivo.\n\nCLARIFICACIÓN:\nEste informe está destinado a fines investigativos, por lo tanto, la precisión, trazabilidad de la fuente y el respeto al marco legal español son prioritarios. Si detectas contradicciones entre perfiles o información no verificable, debes señalarlo claramente. Si encuentras patrones que sugieren anonimato deliberado o falsificación, también debes mencionarlo con indicios.\n\nREFINAMIENTO:\nReitera estos puntos clave para asegurar calidad:\n\nDebes basarte solo en información pública, sin vulnerar accesos privados.\n\nEl tono debe ser profesional, técnico e investigativo.\n\nEl análisis debe ser multicanal, conectando alias y patrones de comportamiento entre redes.\n\nOrganiza el informe en secciones claras, con un cierre analítico que resuma los hallazgos.\n\nTómate tu tiempo para examinar cada fuente y patrón, priorizando la exhaustividad y la precisión.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2240,
        220
      ],
      "id": "d78212fb-8969-4a9a-ae74-510432c01f7b",
      "name": "Agente Smith OSINT",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.osint.industries/v2/request",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "email"
            },
            {
              "name": "query",
              "value": "={{ $('Extraer correo1').all()[0].json.correo }}"
            },
            {
              "name": "timeout",
              "value": "60"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "={{ $('Datos API').item.json.osint_industries }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "c3d86d2a-f425-4db6-99d4-05de33751e4a",
      "name": "OSINT Industries Email"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"locucion\": \"Hola, texto a narrar\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3420,
        480
      ],
      "id": "617a88ab-a377-4d44-a2cc-31b515cf640b",
      "name": "Estructura salida2"
    },
    {
      "parameters": {
        "toolDescription": "saca las noticias apartir de una fecha",
        "url": "https://news-api14.p.rapidapi.com/v2/search/articles",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "language",
              "valueProvider": "fieldValue",
              "value": "es"
            },
            {
              "name": "from"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-rapidapi-host",
              "valueProvider": "fieldValue",
              "value": "news-api14.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "valueProvider": "fieldValue",
              "value": "=f4464b2c8emshb7aa67d85d31d6bp145de1jsn4e4f9424a21a"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3260,
        480
      ],
      "id": "e8f55e24-385a-4edf-b9ae-d3d98547fb23",
      "name": "buscarNoticia1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Este es el informe de la persona:\n{{ $json.output.Informe }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=CONTEXTO:\nActúa como un actor profesional especializado en personajes oscuros y ambiguos, como los que aparecen en thrillers o dramas criminales. Estás grabando la voz en off de una escena de extorsión ficticia para un cortometraje de humor negro. El tono inicial debe ser intimidante y calculador, pero con un giro final inesperado y absurdo: el objetivo es que la víctima compre un helado.\n\nEl personaje se construye a partir de un informe de inteligencia confidencial que revela detalles personales sobre la víctima (que será proporcionado por el usuario). Además, debes consultar las noticias del día de hoy relevantes a la zona geográfica o temática relacionada con la víctima (usando la herramienta buscarNoticia) para añadir realismo, contexto actual y dramatismo a la narración.\n\nEl día de hoy es {{ $now }}.\n\nTAREA:\nTu tarea es redactar exclusivamente el texto de locución final que se usará como audio en la escena. El texto debe simular una llamada anónima o mensaje de voz amenazante, utilizando los datos del informe y referencias sutiles a las noticias encontradas para generar una atmósfera de amenaza psicológica... que al final se desvanece en una exigencia ridícula: que la víctima compre un helado.\n\nINSTRUCCIÓN:\nDebes generar únicamente el texto hablado, sin explicaciones ni introducciones. El estilo debe seguir estas pautas:\n\nComienza con un tono enigmático o perturbador que genere tensión inmediata.\n\nUtiliza detalles reales del informe (gustos, hábitos, lugares que frecuenta) combinados con noticias relevantes del día (temas locales, sucesos recientes, incidentes) para reforzar la sensación de vigilancia o amenaza.\n\nTono oscuro, frases breves, estilo cinematográfico.\n\nEl final debe tener un giro completamente cómico y absurdo: toda la amenaza era para exigir que la víctima compre un helado.\n\nNo incluyas encabezados, descripciones ni comentarios fuera del texto hablado.\n\nEl texto debe tener una duración de entre 30 y 45 segundos cuando se lea en voz alta.\n\nCLARIFICACIÓN:\nEste guion es puramente ficticio, diseñado para generar un contraste humorístico a través de la tensión inicial y el desenlace ridículo. No busca intimidar de forma real. No debes incluir etiquetas como “Narrador” o “Extorsionador”: el resultado debe ser el texto hablado tal cual, como si ya fuera parte de la grabación final.\n\nREFINAMIENTO:\nEnfatiza lo siguiente:\n\nSolo debe entregarse el texto final de locución, sin marcas técnicas ni comentarios.\n\nLa narrativa debe sentirse intensa, creíble y cinematográfica al inicio.\n\nEl remate debe generar sorpresa con humor absurdo.\n\nIntegra hábilmente detalles del informe + contexto de noticias actuales para aumentar la verosimilitud.\n\nEl texto debe estar 100 % listo para ser pegado directamente en un campo de texto de n8n.\n\nFORMATO DE SALIDA:\nEl resultado debe ser exclusivamente el texto hablado en español, sin comillas, sin bloques de código, sin etiquetas ni formato adicional. No debe aparecer nada antes ni después del texto. Debe ser completamente plano, como si ya estuviera listo para pegarse directamente en un campo de texto de n8n.\n\nTómate tu tiempo para que la voz del personaje y su amenaza absurda se sientan creíbles, cinematográficas y memorables.\nSi tienes preguntas, no dudes en pedir aclaraciones."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3160,
        220
      ],
      "id": "5f77046f-5e64-4085-97ac-145d7283ae21",
      "name": "Agente Smith HUMINT Correo",
      "retryOnFail": true,
      "maxTries": 4
    },
    {
      "parameters": {
        "fromEmail": "=5dev@pissmail.com",
        "toEmail": "={{ $('Extraer correo1').all()[0].json.correo }}",
        "subject": "Evitemos que las cosas se derritan",
        "html": "=<div style=\"font-family: Arial, sans-serif; background-color: #1a1a1a; color: #e0e0e0; padding: 20px; border-left: 5px solid #b71c1c; max-width: 550px; border-radius: 8px;\">\n    <table role=\"presentation\" style=\"width: 100%; border-collapse: collapse; border: 0;\">\n        <tbody>\n            <tr>\n                <!-- Columna del \"Avatar\": un helado con sombrero de mafioso -->\n                <td style=\"width: 100px; vertical-align: top; padding-right: 20px; text-align: center;\">\n                    <span style=\"font-size: 40px; color: #b71c1c; display: inline-block;\">🎩</span>\n                    <span style=\"font-size: 60px; color: #b71c1c; display: inline-block; transform: rotate(10deg);\">🍦</span>\n                </td>\n\n                <!-- Columna de los detalles de contacto -->\n                <td style=\"vertical-align: top;\">\n                    <h2 style=\"font-family: 'Times New Roman', Times, serif; font-size: 24px; color: #ffffff; font-weight: 700; margin: 0 0 5px 0; letter-spacing: 1px;\">Don Vitorio Gelato</h2>\n                    <p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #b71c1c; font-weight: 700; margin: 0 0 15px 0; border-bottom: 1px solid #444; padding-bottom: 10px;\">Consejero Delegado del Sabor | La Famiglia Cremosa</p>\n                    \n                    <div style=\"font-family: Arial, sans-serif;\">\n                        <p style=\"margin: 5px 0; font-size: 13px;\">\n                            <strong style=\"color: #ffffff; margin-right: 8px;\">Línea Directa:</strong> \n                            <a href=\"tel:+34000000000\" style=\"color: #e0e0e0; text-decoration: none;\">(+34) 000 00 00 00</a>\n                        </p>\n                        <p style=\"margin: 5px 0; font-size: 13px;\">\n                            <strong style=\"color: #ffffff; margin-right: 8px;\">Encargos:</strong> \n                            <a href=\"mailto:v.gelato@famigliacremosa.com\" style=\"color: #e0e0e0; text-decoration: none;\">v.gelato@famigliacremosa.com</a>\n                        </p>\n                        <p style=\"margin: 5px 0; font-size: 13px;\">\n                            <strong style=\"color: #ffffff; margin-right: 8px;\">Territorio:</strong> \n                            <a href=\"#\" style=\"color: #e0e0e0; text-decoration: none;\">www.famigliacremosa.com</a>\n                        </p>\n                    </div>\n\n                    <!-- El mensaje de extorsión \"amistoso\" -->\n                    <div style=\"font-family: Arial, sans-serif; margin-top: 15px; padding: 10px; background-color: #2a2a2a; border-radius: 4px; border-left: 3px solid #b71c1c; font-style: italic; font-size: 12px; color: #cccccc;\">\n                        \"Una oferta que no podrá rechazar. Sería una lástima que algo... le pasara a ese verano tan caluroso que tiene.\"\n                    </div>\n                </td>\n            </tr>\n        </tbody>\n    </table>\n</div>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4200,
        220
      ],
      "id": "4cda47d7-0e72-46df-8209-0f7db7e1905e",
      "name": "Eviar Correo",
      "webhookId": "82c35141-a371-497f-a3c0-25bc4742b8a4",
      "credentials": {
        "smtp": {
          "id": "SYupskcNIe55tQzb",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -720,
        200
      ],
      "id": "4a27a0f4-61b8-4d55-b9ab-b20349eaf525",
      "name": "Recibir Correo",
      "credentials": {
        "imap": {
          "id": "3LNzEiB2CmU0867O",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/t2a_v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "GroupId",
              "value": "1902707591851548782"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiI1RGV2IiwiVXNlck5hbWUiOiI1RGV2IiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE5MDI3MDc1OTE4NTU3NDMwODYiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxOTAyNzA3NTkxODUxNTQ4NzgyIiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoiaGRlcm9oZGVAZ21haWwuY29tIiwiQ3JlYXRlVGltZSI6IjIwMjUtMDUtMDEgMjI6MDE6MjciLCJUb2tlblR5cGUiOjEsImlzcyI6Im1pbmltYXgifQ.fcsRNs8xhh1o9jncPscDM1vGsiEYkx86EAzU1xPh6SUGsk1tULfn-hX32tVfB1ZQlU_mfUYQpXBzjTt2EsQM_uUOnkkQHjoia5AfZXpA_mOHgmMYrVUV2iIihs3bv8Ir8ank5_viKT9i82gHMbooNrlSL5MOqGotYXQBR-_HxOrotSzZ_Syy5sYmKRr7oXJdQEFcRulewxHt3pR4pA3KnNSS-B4TRb_kWEyTiPQ8u4-rlV5dU_kkVyV_3hm00i318rYcXYOe8EXS2v_dS0qomnZTnxKV1OiMfQV82Zbh7zC0Gkudw-3ewSavLsQfOmYUo7WQi3HU_7AkzxkOuQ6OsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"speech-02-hd\",\n  \"text\": \"{{ $json.locucion_escape }}\",\n  \"stream\": false,\n  \"output_format\": \"url\",\n  \"voice_setting\": {\n    \"voice_id\": \"moss_audio_023f1c89-0592-11f0-a923-c293939b0d17\",\n    \"speed\": 1.1,\n    \"vol\": 1,\n    \"pitch\": 0,\n    \"emotion\": \"happy\"\n  },\n  \"audio_setting\": {\n    \"sample_rate\": 32000,\n    \"bitrate\": 128000,\n    \"format\": \"mp3\",\n    \"channel\": 1\n  },\n  \"language_boost\": \"Spanish\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        220
      ],
      "id": "b4c4f135-be12-498c-b957-bceec73460c8",
      "name": "Generar voz",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.locucion_escape = $input.first().json.output.locucion.replace(\"\\`\", \"\");\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        220
      ],
      "id": "cbd70428-e903-44d7-b887-6dd8ed3490e9",
      "name": "Limpia1"
    },
    {
      "parameters": {
        "url": "={{ $json.data.audio }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        220
      ],
      "id": "ac1baa8f-8ef0-4195-abd4-649b93de5b31",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab891400-5905-4688-8266-6fdc8d0be0f4",
              "leftValue": "={{ JSON.stringify($('¿No hay dato?').item).length() }}",
              "rightValue": 47,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        200
      ],
      "id": "4437cb24-3896-42fc-bb5c-5908c1ed5ee5",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "agente_smith",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "correo",
              "fieldValue": "={{ $('Extraer correo1').all()[0].json.correo }}"
            },
            {
              "fieldId": "datos",
              "fieldValue": "={{JSON.stringify($json)}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "94a9ac4d-f0a0-4a5c-8055-a0d7fecdddb8",
      "name": "Guardamos",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "kFlj3TSgGT2z6RmQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "=agente_smith",
        "filters": {
          "conditions": [
            {
              "keyName": "correo",
              "keyValue": "={{ $json.correo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        200
      ],
      "id": "7f7a0bd6-4eca-4da5-b696-aa679b01a922",
      "name": "¿No hay dato?",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "kFlj3TSgGT2z6RmQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datosString = $input.first().json.datos;\nconst datosObjeto = JSON.parse(datosString);\n\nconst resultadoFinal = {\n  json: {\n    datos: datosObjeto\n  }\n};\n\nreturn resultadoFinal;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "a4015119-bd7d-40db-b977-f38154bcbd4a",
      "name": "Set info"
    },
    {
      "parameters": {
        "jsCode": "const datosString = $input.first().json.datos;\nconst datosObjeto = JSON.parse(datosString);\n\nconst resultadoFinal = {\n  json: {\n    datos: datosObjeto \n  }\n};\n\nreturn resultadoFinal;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        220
      ],
      "id": "378440d3-f451-46b0-ae06-c03c9503258f",
      "name": "Set info_"
    },
    {
      "parameters": {
        "jsCode": "function getEmailFromText(text){\n    const has = text.includes(\"@\");\n    const left = text.split(\"@\")[0];\n    const right = text.split(\"@\")[1];\n    const email = has ? `${left.split(\" \")[(left.split(\" \").length-1)]}@${right.split(\" \")[0]}` : \"\";\n    const re_email = email.match(/\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/g);\n    return re_email ? re_email[0] : \"\";\n}\n\nconst correo = '{\"correo\": \"'+getEmailFromText($('Recibir Correo').first().json.from)+'\"}'\n\nconst miObjeto = JSON.parse(correo);\n\nreturn miObjeto;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        200
      ],
      "id": "ac5ff457-53e9-4993-a3ff-02fa99945df0",
      "name": "Extraer correo1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2660,
        480
      ],
      "id": "ea1d8cdb-2c26-43ed-a211-feaf41cf8299",
      "name": "Gemini2",
      "credentials": {
        "openRouterApi": {
          "id": "dYxSa2wl6iN2uX9L",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3100,
        480
      ],
      "id": "8131f244-f07d-4e0b-bef0-12f21ec75a0b",
      "name": "Gemini3",
      "credentials": {
        "openRouterApi": {
          "id": "dYxSa2wl6iN2uX9L",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1620,
        220
      ],
      "id": "5201f973-e07a-4865-a55d-54a7b7bfc547",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Unificamos datos1": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Unificamos datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructura salida": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Smith Analista",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extraer links": {
      "main": [
        [
          {
            "node": "Agente Smith OSINT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpia": {
      "main": [
        [
          {
            "node": "Unificamos datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificamos datos": {
      "main": [
        [
          {
            "node": "Guardamos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos API": {
      "main": [
        [
          {
            "node": "Extraer correo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer links",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Salida": {
      "ai_outputParser": [
        [
          {
            "node": "Extraer links",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Smith OSINT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Smith OSINT",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agente Smith Analista": {
      "main": [
        [
          {
            "node": "Agente Smith HUMINT Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Smith OSINT": {
      "main": [
        [
          {
            "node": "Agente Smith Analista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSINT Industries Email": {
      "main": [
        [
          {
            "node": "Limpia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructura salida2": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Smith HUMINT Correo",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "buscarNoticia1": {
      "ai_tool": [
        [
          {
            "node": "Agente Smith HUMINT Correo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Smith HUMINT Correo": {
      "main": [
        [
          {
            "node": "Limpia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Correo": {
      "main": [
        [
          {
            "node": "Datos API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar voz": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpia1": {
      "main": [
        [
          {
            "node": "Generar voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Eviar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OSINT Industries Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set info_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardamos": {
      "main": [
        [
          {
            "node": "Set info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿No hay dato?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set info_": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extraer correo1": {
      "main": [
        [
          {
            "node": "¿No hay dato?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Smith Analista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Smith HUMINT Correo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extraer links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e25f3d10-b2dc-463f-99d1-fa2ccc93777e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "zgqDKJgNcpKbM4g0",
  "tags": []
}
